    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .main {
        height: 100%;
        width: 100%;
        background-color: #4267B2;
        background-position: center;
        background-size: cover;
        position: absolute;
    }
    
    .form-box {
        height: 450px;
        width: 350px;
        position: relative;
        margin: 10% auto;
        background: white;
        padding: 5px;
    }
    
    .form-box h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        margin-top: 60px;
        text-align: center;
    }
    
    .form-box>p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        margin-top: 20px;
        text-align: center;
    }
    
    .form-box h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        margin: 25px;
        text-align: center;
    }
    
    .form-box form {
        text-align: center;
        box-shadow: black;
    }
    
    .input-field {
        width: 50%;
        padding: 10px;
        margin: 5px 0;
        border-style: ridge;
        border-color: darkgray;
    }
    
    .submit-field {
        width: 25%;
        padding: 10px;
        cursor: pointer;
        display: block;
        margin: -15px auto;
        border: 30px;
        background-color: #4267B2;
    }
    
    .logo-image img {
        display: block;
        position: fixed;
        height: 70px;
        width: 70px;
        float: left;
    }
    
    section {
        background: white;
        margin: 0 auto auto auto;
        width: 80%;
        z-index: 0;
    }
    
    nav {
        background-color: #ffffff;
        height: 50px;
        padding: 10px;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }
    
    nav div.search-container {
        max-width: 70%;
        margin: 0 auto 0 auto;
    }
    
    nav div.search-container>input {
        box-sizing: border-box;
        height: 30px;
        width: 70%;
        margin: auto;
        padding: 5px;
        border: 1px solid #e0e0e0;
    }
    
    nav div.search-container>button {
        box-sizing: border-box;
        color: #ffffff;
        font-size: 80%;
        height: 32px;
        width: 16%;
        padding: 5px;
        border: 2px solid #e0e0e0;
        cursor: pointer;
        background-color: #4267B2;
    }
    
    .flex-container {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: space-between;
        justify-content: center;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }
    
    .flex-container ul {
        margin: 15px;
        padding: 0;
    }
    
    .flex-container ul li {
        list-style: none;
    }
    
    .flex-container ul li>div {
        margin: 20px 0;
        border: 1px solid rgb(192, 189, 189);
        border-radius: 10px;
        box-shadow: 0px 5px 10px rgb(201, 193, 193);
    }
    
    #first-container {
        align-self: flex-start;
        margin-top: auto;
        border-top: 2px black;
    }
    
    #last-container {
        align-self: flex-end;
    }
    #header_icon {
        display: inline-flexbox;
        position: fixed;
        margin: 3px 3px 1% 1%;
        width: 8%;
        padding: 3px 1% 3px 1%;
    }

    #icon {
        display: inline-flexbox;
        margin: 0 0 2% 2%;
        width: 8%;
        padding: 0 2% 3px 2%;
    }

    #icon h2 {
        display: inline-flexbox;
        margin-right: 0;
        margin-top: 0;
        font-size: 30%;
        color: gray;
    }
    
    .flex-container ul li div::after {
        content: "";
        display: block;
        clear: both;
    }
    
    .flex-container ul li img {
        width: 100%;
        height: 110%;
    }
    
    .flex-container ul li h1 {
        margin: 2% 2%;
        font-size: 160%;
        font-weight: bold;
        color: gray;
    }

    
    .thumbButton {
        box-sizing: border-box;
        font-size: 80%;
        /*height: 2%;*/
        margin: 0 0 2% 2%;
        width: 8%;
        padding: 0 2% 3px 2%;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        cursor: pointer;
        background-color: #4267B2;
    }

    .icon {

        margin: 0 0 1% 2%;
        width: 8%;
        padding: 5px 2% 0 2%;
        width: 35px; 
        height:25px;
    }
    
    .flex-container>div {
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }
    
    .column {
        flex: 80%;
        max-width: 80%;
        padding: 0 4px;
        margin-top: 50px;
        margin-bottom: 0 0;
    }
    
    .column img {
        height: 100%;
        width: 80%;
        margin-top: 5px;
        vertical-align: middle;
    }
    
    @media (max-width: 1000px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }
    
    @media (max-width: 1000px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
    }